@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consolas.ttf') format('truetype');
}

body {
    font-family: 'Consolas';
    background-color: #120909;

    margin: 0;
    padding: 0;

    color: white;
}

#navigation {
    padding: 20px;
}

#navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;

    transition: letter-spacing 0.1s linear;
}

#navigation-table {
    margin-left: auto;
}

#navigation-table td {
    width: 200px;
    text-align: right;
}

#navigation a:hover {
    letter-spacing: 2px;
}

#welcome-text {
    font-size: 25px;
    width: 660px;

    margin: auto;
    padding-top: 20%;
}

#welcome-section {
    height: 1000px;
}

.link {
    text-decoration: none;
    color: #ff2a2a;
}

.link:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}


#work {
    
}

footer {
    text-align: center;
    
    height: 100px;
    background-color: rgb(20, 20, 20);
}

/* Scrollbar */

body::-webkit-scrollbar {
    width: 8px;
    background-color: #120909;
}

body::-webkit-scrollbar-thumb {
    background-color: #080404;
    border-radius: 15px;
}

/* Projects */
.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 350px;
    justify-content: center;
}

.project-card {
    background: #1D0D0D;
    border-radius: 15px;
    margin: 15px;
    text-align: center;
}

.project-card-example {
    font-size: 20px;
}

.project-card-title {
    font-size: 25px;
}

.project-card-description {
    text-align: justify;
    width: 230px;
    margin: 20px;
}

.category-title {
    
}

/* Other */
